%% ex: ts=4 sw=4 noexpandtab syntax=erlang

{erl_opts, [debug_info, fail_on_warning]}.
{edoc_opts, [{index_columns, 1}, {sort_functions, false}, {preprocess, true}]}.

{deps, [
	{bson, ".*", {git, "git://github.com/soundrop/bson-erlang", "HEAD"}}
]}.

{clean_files, [
	"erl_crash.dump",
	"doc/*.html",
	"doc/erlang.png",
	"doc/edoc-info",
	"doc/stylesheet.css"
]}.
