%% ex: ts=4 sw=4 noexpandtab syntax=erlang

{erl_opts, [debug_info, fail_on_warning]}.
{edoc_opts, [{index_columns, 1}, {sort_functions, false}, {preprocess, true}]}.

{plugins, [rebar_ct]}.

{deps, [
  {bson, ".*",
   {git, "git://github.com/comtihon/bson-erlang", {tag, "v0.2.2"}}},
  {pbkdf2, ".*",
   {git, "git://github.com/comtihon/erlang-pbkdf2.git", {tag, "2.0.0"}}},
  {poolboy, ".*",
   {git, "git://github.com/devinus/poolboy.git", {tag, "1.5.1"}}}
]}.

{clean_files, [
  "erl_crash.dump",
  "doc/*.html",
  "doc/erlang.png",
  "doc/edoc-info",
  "doc/stylesheet.css"
]}.
